{{#if showAd}}

<div id="549861760">
    <script type="text/javascript">
        try {
            window._mNHandle.queue.push(function () {
                window._mNDetails.loadTag("549861760", "728x90", "549861760");
            });
        }
        catch (error) {}
    </script>
</div>

{{/if}}
